<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

    {{!-- header --}}
    <header>
        <img class="profile-img" src="{{actor.img}}" title="{{actor.name}}" height="100" width="100" />
    </header>

    {{!-- sheet tabs --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="main">Main</a>
        <a class="item" data-tab="inventory">Inventory</a>
    </nav>
</form>
