<section>
    {{attribute selector}}
    <div>
        <label for="system.useSkill">Skill Selector</label>
        <select name="system.useSkill">
            {{selectOptions config.skillNames selected=system.useSkill localize=true}}
        </select>
    </div>
</section>
